################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/obj
/.vs/demo-ci-cd-demo
/.vs/demo-ci-cd-demo.slnx
*.sqlite
/TestResults
/WebApplication1/bin/Debug/net10.0
/demo-ci-cd-demo.Tests
/.vs
